.container {
    margin-top: 50px;
    width: 1000px !important;
    max-width: 1000px !important;
 }

 .game-panel .game canvas {
     border: 2px solid black;
 }
 body > div > div.row.main-panel > div.col-sm-6.buttons-panel {
     width: 470px;
     max-width: 470px;
 }
 .right-panel {
     display: none;
 }

 .left-panel {
     display: none;
 }

 .bright {
     background-color: #c9edb1;
 }

 .dark {
     background-color: #91dd5f;
 }

.error-settings {
    opacity: 0;
    transition: 0.5;
}

#game-info {
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    padding-left: 30px;
    padding-top: 185px;
    text-align: center;
    h1 {
        font-size: 100px;
    }
}

#game-finish {
    display: none;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    left: 0;
    margin-left: 15px;
    .content {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        .modal {
            position: static;
            display: block;
        }
      }
}

.modal-header {
    min-width: 300px;
}

.row.game .col-lg-12 {
    //text-align: center;
}